<header>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar__logo">
      <img width="100px" src="../assets/logo.png" alt="">
    </div>
    <ul class="navbar__menu">
      <li><a href="#">What we do</a></li>
      <li><a href="#">Expertise</a></li>
      <li><a href="#">Find jobs</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </nav>
  <!-- Navbar -->
<div class="box-container">
  <div class="left-container">
    <div class="h1">
     <h1>Transforming organizations, driving value</h1>
    </div>
    <div class="image-left">
      <div class="left-image"></div>
       <div class="right-para">
      <p>
        People are the core to our every team, business, and process. We bring value by optimally combining the art and science of finding the right talent and the right role. Our streamlined processes and understanding of industry dynamics empower us to efficiently solve talent and recruitment problems.</p>
      </div>
    </div>

  </div>
  <div class="right-container">
       <div class="image-right">
        <!-- image  -->
          <!-- <img src="../assets/third-row-right.jpg" alt=""> -->
       </div>
       <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- Slides go here -->
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
      
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      
  </div>
</div>

  
</header>