.navbar {
    background-color: teal;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 1px;
 
  
    &__logo {
      color: #fff;
      font-weight: bold;
      margin-right: auto;
    }
  
    &__menu {
      list-style: none;
      display: flex;
  
      li {
        margin-left: 10px;
  
        a {
          color: black;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
.box-container{
    width:100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .left-container{
        width:50%;
        // border: 1px solid red;
        h1{
            margin-top: 120px;
            margin-left: 30px;
          font-size: 54px;
        }
        .image-left{
            display: flex;
            width: 100%;
            height: 80%;
            background-image: url("../assets/third-row-left.jpg");
            background-size: 100% 280px;
            background-position-x: left;
            background-repeat: no-repeat;
          
            .left-image{
                width: 30%;
            }
            .right-para{
                width:70%;
                p{
                    margin-top: 50px;
                    font-size: 24px;
                }
            }
        }
    }
    .right-container{
        width: 48%;
        // border: 1px solid blue;
        .image-right{

            img{
                margin-left: 150px;
            }
            
        }
        .swiper-container {
            width: 100%;
            height: 400px;
          }
          
          .swiper-button-prev,
          .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-color: #f0f0f0;
            color: #333;
            border-radius: 50%;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .swiper-button-prev {
            left: 10px;
          }
          
          .swiper-button-next {
            right: 10px;
          }
          
    }
}